@using Project_QLCHDC.Models;
@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    List<SANPHAM> thich = ViewBag.thich as List<SANPHAM>;
    List<SANPHAM> related = ViewBag.related as List<SANPHAM>;
}
@model SANPHAM
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "KhachHang")"><i class="fa fa-home"></i> Home</a>
                    <a href="@Url.Action("Category", "Product")">Shop</a>
                    <a href="@Url.Action("Category", "Product", new { madm = Model.MADM})">@Model.DANHMUC.TENDM</a>
                    <span>@Model.TENSP</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <form action="/DatHang/ThemMatHang" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src="/Content/img/products/@Model.HINHANH" alt="">
                        </a>
                        <a class="pt" href="#product-2">
                            <img src="/Content/img/products/@Model.HINHANH" alt="">
                        </a>
                        <a class="pt" href="#product-3">
                            <img src="/Content/img/products/@Model.HINHANH" alt="">
                        </a>
                        <a class="pt" href="#product-4">
                            <img src="/Content/img/products/@Model.HINHANH" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="/Content/img/products/@Model.HINHANH" alt="">
                            <img data-hash="product-2" class="product__big__img" src="/Content/img/products/@Model.HINHANH" alt="">
                            <img data-hash="product-3" class="product__big__img" src="/Content/img/products/@Model.HINHANH" alt="">
                            <img data-hash="product-4" class="product__big__img" src="/Content/img/products/@Model.HINHANH" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.TENSP @if (Model.SOLUONGTON == 0) {<span style="margin-bottom:20px;color:red;">Hết Hàng</span>}else{<span style="margin-bottom:20px;">Còn : @Model.SOLUONGTON</span>} <span>Thương hiệu : </span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                        <div class="product__details__price">@string.Format("{0:#,##0} VND", Model.GIABAN)</div>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>SL :</span>
                            <div class="pro-qty">
                                <input type="text" name="txtQuantity" value="1" readonly>
                            </div>
                        </div>
                        @if (Model.SOLUONGTON == 0) {
                            <button type="submit" style="border:none; outline:none;" class="cart-btn" value="@Model.MASP" disabled name="masp"><span class="icon_bag_alt"></span> THÊM VÀO GIỎ</button>
                        }
                        else {
                            <button type="submit" style="border:none; outline:none;" class="cart-btn" value="@Model.MASP" name="masp"><span class="icon_bag_alt"></span> THÊM VÀO GIỎ</button>
                        }
                        <ul>
                            @if (Session["kh"] != null && thich.Any(th => th.MASP == Model.MASP)) {
                                <li><a href="@Url.Action("AddLoveProduct", "Product", new { masp = Model.MASP})" style="background:red;"><span class="icon_heart_alt" style="color:#fff;"></span></a></li>
                            }
                            else {
                                <li><a href="@Url.Action("AddLoveProduct", "Product", new { masp = Model.MASP})"><span class="icon_heart_alt"></span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Chi tiết &nbsp;-&nbsp; Đặc điểm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Bình luận &nbsp;-&nbsp; Đánh giá</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>SẢN PHẨM LIÊN QUAN</h5>
                </div>
            </div>
            @foreach (SANPHAM s in related) {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/Content/img/products/@s.HINHANH">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="/Content/img/products/@s.HINHANH" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="@Url.Action("AddLoveProduct", "Product", new { masp = s.MASP})"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="@Url.Action("ProductDetail", "Product", new { masp = s.MASP})"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">@s.TENSP</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                                <div class="product__price">@string.Format("{0:#,##0} VND", s.GIABAN)</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Product Details Section End -->

